.encabezado{
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20;
    margin-top: 2.5em;
    margin: auto;
    background-color: blue;
}
.cuerpo{
    background-color: rgb(130, 205, 235);
}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
}